#serverSettings .page-header {
    background: #535E71;
    color: #fff;
    height: 64px;
    line-height: 64px;
    margin: 0 -15px;
    margin-bottom: 30px;
}

#serverSettings .page-header h2 {
    line-height: 60px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

.dataTables-pagination {
    margin: 0;
}

td .form-group.form-group-sm {
    margin-top: 3px;
}

.btn.btn-fab.btn-fab-xs {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

table .checkbox,
table .radio {
    margin: 0;
}

.radio label.radio-inline {
    padding-left: 25px;
}